.contenedor {
    width: 80%;
    height: 1200px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas: "header header header"
                         "header header header"
                         "izq sec1 sec1"
                         "izq sec1 sec1"
                         "izq sec2 sec3"
                         "izq sec2 sec3"
                         "izq sec2 sec3"
                         "izq sec2 sec3"
                         "pie pie pie"
                         "pie pie pie";
}
header, footer, aside, section {
    border: black solid 3px;
}
.encabezado {
    grid-area: header; 
}
.seccion1 {
    grid-area: sec1;
}  
.seccion2 {
    grid-area: sec2;
}
.seccion3 {
    grid-area: sec3;
}
.item-aside {
    grid-area: izq;

}
.item-footer {
    grid-area: pie;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}